spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitbit_agent
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    show-sql: true
logging:
  level: 
    com.fitbitagent: DEBUG